services:
  backend:
    build:
      context: ./backend
    volumes:
      # Map the analytics folder from the detect project to the webapp container
      - ../../nt-bird-detect/data/analytics:/app/data:ro
    restart: always

  frontend:
    build:
      context: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always