services:
  backend:
    build:
      context: ./backend
    # To swap between tag of latest (dev) and saving the latest stable version, 
      # uncomment / comment the line below, then run `docker-compose up --build` again.
    #image: webapp-backend:v1.01  # This sets the name and tag
    volumes:
      # Map the analytics folder from the detect project to the webapp container
      - ../../nt-bird-detect/data/analytics:/app/data:ro
    restart: always

  frontend:
    build:
      context: ./frontend
    #image: webapp-frontend:v1.01  # This sets the name and tag
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always